.pricingSection {
    position: relative;
    height: 80vh;
    padding-top: 10vh;
    padding-bottom: 10vh;

    #pricingVideo {
        position: fixed;
        left: 0;
        top: 0;
        min-width: 100%;
        min-height: 100%;
        opacity: 0;
        transition: opacity ease-in-out var(--duration-long);
        -webkit-filter: blur(5px);
        -moz-filter: blur(5px);
        -o-filter: blur(5px);
        -ms-filter: blur(5px);
        filter: blur(5px);
        z-index: -1;
    }

    &.active {
        #pricingVideo {
            opacity: 0.4;
        }
    }

    .pricingContainer {
        height: inherit;
        background: var(--color-grey-dark);
        border-radius: var(--spacing-s);
        opacity: 0.9;
        .mainTitle {
            position: relative;
            padding-top: var(--spacing-s);
            height: 4rem;
            text-align: center;
            width: 100%;
            line-height: 4rem;
            font-style: italic;
        }
    
        .plansContainer {
            position: relative;
            margin-top: var(--spacing-s);
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
        }
    }
}