.pricingSection {
    position: relative;
    height: 80vh;
    padding-top: 10vh;
    padding-bottom: 10vh;

    #pricingVideo {
        position: fixed;
        left: 0;
        top: 0;
        min-width: 100%;
        min-height: 100%;
        opacity: 0;
        transition: opacity ease-in-out var(--duration-long);
        -webkit-filter: blur(5px);
        -moz-filter: blur(5px);
        -o-filter: blur(5px);
        -ms-filter: blur(5px);
        filter: blur(5px);
        z-index: -1;
    }

    &.active {
        #pricingVideo {
            opacity: 0.4;
        }
    }

    .pricingContainer {
        height: inherit;
        background: var(--color-grey-dark);
        border-radius: var(--spacing-s);
        opacity: 0.95;
        .mainTitle {
            position: relative;
            padding-top: var(--size-xxl);
            height: 4rem;
            text-align: center;
            width: 100%;
            line-height: 4rem;
            font-style: italic;
        }
    
        .plansContainer {
            position: relative;
            margin-top: var(--size-xxl);
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
        }
    }

    &.portrait {
        height: 90vh;
        padding-top: 5vh;
        padding-bottom: 5vh;
        .pricingContainer {
            border-radius: var(--size-l);
            .mainTitle {
                padding-top: var(--size-xxs);
            }
            .plansContainer {
                margin-top: 0;
                flex-direction: column;
                height: 89%;
                align-items: center;
                justify-content: space-between;
            }
        }

        &.active {
            #pricingVideo {
                transform: translateX(-29%);
            }
        }
    }
}