
.featureContainer {
    position: relative;
    height: 80vh;
    width: inherit;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 12.5% 0;

    .img {
        position: relative;
        height: 70%;
        width: var(--spacing-xxxl);
        border-radius: var(--size-m);
        overflow: hidden;
        background-position: center;
        background-size: cover;
    }

    @for $i from 1 through 3{
        &.feature#{$i} {
            .img {
                background-image: url('./images/feature#{$i}_img.jpg')
            }
        }
    }
    
    .text {
        position: relative;
        width: 50%;
        height: 50%;
        text-align: left;
        margin: var(--size-m) 0;

        .title {
            color: var(--color-white);
        }

        .description {
            margin-top: var(--size-m);
            color: var(--color-grey-light);
            font-size: 1rem;
            line-height: 1.75rem;
        }

        .moreBtn {
            position: absolute;
            bottom: 0;
        }
    }
}