.classContainer {
    height: 20vh;
    width: 29%;
    margin: 2%;

    cursor: pointer;

    .img {
        position: relative;
        height: 80%;
        min-height: 80%;
        width: 100%;
        min-width: 100%;
        border-radius: var(--size-m);
        overflow: hidden;
        background-position: center;
        background-size: cover;
        border: 2px solid var(--color-white);
        filter: grayscale(100%);
        transition: all 0.5s ease;
        transition-property: border, filter;
        transition-duration: 1.5s; // slow by default
    }

    .text {
        text-align: center;
        transition: color 1.5s;
    }

    &:hover {
        .img {
            border: 2px solid var(--color-primary);
            filter: grayscale(0%);
            transition-duration: 0.2s; // fast on hover
        }

        .text {
            color: var(--color-primary);
            transition-duration: 0.2s;
        }
    }
}