.classContainer {
    height: 20vh;
    width: 29%;
    margin: 2%;

    cursor: pointer;

    .img {
        position: relative;
        height: 80%;
        min-height: 80%;
        width: 100%;
        min-width: 100%;
        border-radius: var(--size-m);
        overflow: hidden;
        background-position: center;
        background-size: cover;
        border: 2px solid var(--color-white);
    }

    .text {
        text-align: center;
    }

    &:hover {
        .img {
            border: 2px solid var(--color-primary);
        }

        .text {
            color: var(--color-primary);
        }
    }
}