.feedbackThumbnail {
    border: 2px solid var(--color-white);
    border-radius: 10%;
    height: var(--spacing-m);
    width: var(--spacing-m);
    cursor: pointer;
    transition-duration: var(--duration-normal);
    overflow: hidden;

    &:hover {
        border: 2px solid var(--color-primary);
        opacity: 0.8;
    }

    &.active {
        border: 2px solid var(--color-primary);
    }

    .img {
        position: relative;
        height: 100%;
        width: 100%;
    }
}