.feedbackThumbnail {
    background: var(--color-white);
    border-radius: 10%;
    height: var(--spacing-m);
    width: var(--spacing-m);
    cursor: pointer;
    transition-duration: 500ms;
    overflow: hidden;

    &:hover {
        opacity: 0.8;
    }

    .img {
        position: relative;
        height: 100%;
        width: 100%;
    }
}