.aboutUsSection {
    .img {
        width: 100%;
        height: 30vh;
        background-color: var(--color-grey);
    }
    .aboutUsContainer {
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        height: 70vh;
        width: 100%;
        .menu {
            background: var(--color-black-light);
            color: var(--color-white);
            width: 15%;
            padding: 1%;
            .item {
                cursor: pointer;
                width: max-content;
            }
        }
        .content {
            background: var(--color-grey-dark);
            color: var(--color-white);
            width: 50%;
            padding: 1%;
        }
    }
}