.planContainer {
    position: relative;
    height: 50vh;
    width: 240px;
    padding: var(--size-l);
    background: var(--color-grey-light);
    border: 3px solid var(--color-black);
    border-radius: var(--size-m);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    transition-duration: 500ms;

    &.active {
        border: 3px solid var(--color-primary-light);
        box-shadow: rgba(0, 0, 0, 0.35) 0px 14px 28px, rgba(0, 0, 0, 0.32) 0px 10px 10px;
        background: linear-gradient(90deg, var(--color-grey-light) 0%, var(--color-grey-deepdark) 100%);
        transform: scale(1.03);

        .btn {
            background: var(--color-primary);
            color: var(--color-white);
        }
    }

    .priceContainer {
        color: var(--color-black);
        .price {
            display: inline-block;
        }
        .monthTxt {
            display: inline-block;
            font-size: var(--size-m);
        }
    }

    &.Gold {
        .priceContainer,
        .title {
            background: linear-gradient(to right, gold, rgb(255, 179, 3));
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }

    &.Premium {
        .priceContainer,
        .title {
            background: linear-gradient(90deg, rgb(251, 30, 255) 0%, rgb(35, 46, 255) 50%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }

    .title {
        color: var(--color-black);
        font-size: var(--size-l);
        line-height: var(--size-xl);
        margin: var(--size-s) 0;
        font-weight: bold;
    }

    .description {
        color: var(--color-black-light);
        line-height: var(--size-l);
        margin: var(--size-s) 0;
    }

    .details {
        font-style: italic;
        .item {
            margin: var(--size-xs) 0;
            font-size: var(--size-m);
            .tickIcon {
                color: var(--color-primary);
                display: inline-block;
            }
            .text {
                color: var(--color-black);
                margin-left: var(--size-xs);
                display: inline-block;
            }
        }
    }

    .btn {
        background: var(--color-white-dark);
    }

    .selectPlanBtn {
        position: absolute;
        bottom: var(--size-l);
        left: 50%;
        transform: translateX(-50%);

        &:hover {
            transform: translateX(-50%) scale(1.05);
        }
    }
}