.planContainer {
    --color-gold-1: rgb(255, 221, 29);
    --color-gold-2: rgb(255, 150, 3);
    --color-premium-1: rgb(253, 29, 62);
    --color-premium-2: rgb(255, 221, 0);

    position: relative;
    height: 50vh;
    width: 240px;
    padding: var(--size-l);
    background: var(--color-grey-light);
    border: 3px solid var(--color-grey-light);
    border-radius: var(--size-m);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    transition-duration: var(--duration-normal);

    &.active {
        border: 3px solid var(--color-primary-light);
        box-shadow: rgba(0, 0, 0, 0.35) 0px 14px 28px, rgba(0, 0, 0, 0.32) 0px 10px 10px;
        background: linear-gradient(90deg, var(--color-grey-light) 40%, var(--color-grey-dark) 100%);
        transform: scale(1.1);

        .btn {
            background: var(--color-primary-light);
            color: var(--color-white);
        }
    }

    .priceContainer {
        color: var(--color-black);
        .price {
            display: inline-block;
        }
        .monthTxt {
            display: inline-block;
            font-size: var(--size-m);
        }
    }

    &.Gold {
        .priceContainer,
        .title {
            background: linear-gradient(90deg, var(--color-gold-1) 20%, var(--color-gold-2) 45%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }

    &.Premium {
        .priceContainer,
        .title {
            background: linear-gradient(90deg, var(--color-premium-1) 20%, var(--color-premium-2) 50%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }

    .title {
        color: var(--color-black);
        font-weight: bold;
    }

    .description {
        color: var(--color-black-light);
        line-height: var(--size-l);
        margin: var(--size-s) 0;
        font-size: var(--size-m);
    }

    .details {
        .item {
            display: flex;
            align-items: center;
            margin: var(--size-xs) 0;
            .tickIcon {
                color: var(--color-primary-light);
                display: inline-block;
                font-size: var(--size-l);
                line-height: var(--size-m);
            }
            .text {
                font-size: var(--size-m);
                line-height: var(--size-m);
                color: var(--color-black);
                margin-left: var(--size-xs);
                display: inline-block;
            }
        }
    }

    .btn {
        background: var(--color-white-dark);
    }

    .selectPlanBtn {
        position: absolute;
        bottom: var(--size-l);
        left: 50%;
        transform: translateX(-50%);

        &:hover {
            transform: translateX(-50%) scale(1.05);
        }
    }

    @media (orientation: portrait) {
        // height: 28%;
        width: 82%;
        padding: 0 var(--size-xs) var(--size-xxs);

        &.active {
            transform: scale(1.05);
        }

        .priceContainer,
        .title {
            display: inline-block;
            width: 50%;
        }

        .priceContainer {
            text-align: left;
            .monthTxt {
                display: inline-block;
                font-size: var(--size-s);
            }
        }

        .title {
            text-align: right;
        }

        &.Basic {
            height: 25%;
        }

        &.Gold {
            height: 29%;
            .title {
                background: linear-gradient(90deg, var(--color-gold-1) 75%, var(--color-gold-2) 100%);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }

        &.Premium {
            height: 34%;
            .title {
                background: linear-gradient(90deg, var(--color-premium-1) 50%, var(--color-premium-2) 75%);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }

        .description {
            margin: 0 0 var(--size-xxs) 0;
            line-height: var(--size-m);
        }

        .details {
            display: grid;
            grid-template-columns: repeat(2, minmax(0, 1fr));
            .item {
                margin: var(--size-xxs) 0;
                .tickIcon {
                    font-size: var(--size-m);
                }
                .text {
                    font-size: var(--size-s);
                    margin-left: var(--size-xxs);
                }
            }
        }

        .title {
            margin: 0;
        }

        .selectPlanBtn {
            bottom: var(--size-xxs);
        }
    }
}