.navBar {
    position: absolute;
    top: 0;
    left: 0;
    height: var(--size-xxl);
    width: 100%;
    background: var(--color-black-light);
    text-align: center;
    padding: var(--size-m) 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: var(--size-m);
    line-height: var(--size-xxl);
    z-index: 1;
    opacity: 0.8;

    .logo {
        padding: 0 var(--size-m);
        height: var(--size-xxl);
        width: var(--size-xxl);
        margin-right: var(--size-xl);
        color: var(--color-primary);
        border-radius: var(--size-m);
        background: var(--color-grey);
    }
    
    .navContainer {
        height: inherit;
        display: flex;
        flex-direction: row;

        .navItem {
            width: max-content;
            text-wrap: no-wrap;
            margin: 0 var(--size-s);
            padding: 0 var(--size-l);
            cursor: pointer;
            user-select: none;
            border-radius: var(--size-xl);
            transition-duration: var(--duration-normal);

            &:hover {
                background: var(--color-primary);
            }
        }
    }
}