.heroSection {
    position: relative;
    height: var(--spacing-xxxl);
    width: inherit;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: var(--size-xxl) 0;

    .text {
        position: relative;
        text-align: left;
        margin: var(--size-m);
        margin-right: var(--spacing-l);

        .description {
            margin-top: var(--size-s);
            color: var(--color-grey-light);
        }
        .exploreBtn {
            position: absolute;
            bottom: 0;
        }
    }

    .img {
        position: relative;
        height: inherit;
        width: var(--spacing-xxl);
        border-radius: var(--size-l);
        overflow: hidden;
        background-image: url('./images/hero_img.jpg');
        background-position: center;
        background-size: cover;
    }
}