.footer {
    position: relative;
    height: 20vh;
    width: inherit;
    background: var(--color-black-light);
    padding: 3vh 23vw 7vh 17vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: var(--color-white);

    .logoContainer{
        width: 22%;
        border-right: 2px solid var(--color-white);

        .logo {
            padding: 0 var(--size-m);
            height: var(--size-xxl);
            width: var(--size-xxl);
            margin-right: var(--size-xl);
            color: var(--color-primary);
            border-radius: var(--size-m);
            background: var(--color-grey);
        }
        .description {
            margin-top: var(--size-s);
        }
    }

    .pagesContainer {
        width: 50%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        .page {
            margin: var(--size-xxs) 0;
            cursor: pointer;
            transition: color ease-in-out var(--duration-fast);
            &:hover {
                color: var(--color-primary-light);
            }
        }
    }

    &.portrait {
        height: 45vh;
        flex-direction: column;
        text-align: center;
        justify-content: unset;
        padding: 1.5vh 12vw 1.5vh 12vw;

        .logoContainer{
            width: 100%;
            border-right: unset;
            border-bottom: 2px solid var(--color-white);

            .logo {
                margin: 0 auto;
            }
            .description {
                margin-bottom: var(--size-s);
            }
        }
        .pagesContainer {
            width: 100%;
            flex-direction: column;
            .pageContainer {
                margin: var(--size-xs);
                .page {
                    font-size: var(--size-s);
                }
            }
        }

        @media screen and (max-height: 810px){
            .pagesContainer {
                .pageContainer {
                    margin: var(--size-xxs);
                    .page {
                        margin: var(--size-xxs) 0;
                    }
                }
            }
        }
    }
}