.feedbackSection {
    position: relative;
    height: 80vh;
    margin-top: 3vh;
    margin-bottom: 7vh;
    background: var(--color-grey-dark);
    border-radius: var(--spacing-s);
    padding: 4vh 5vh;

    .mainTitle {
        text-align: center;
        margin-bottom: var(--size-xl);
        font-style: italic;
    }

    .feedbackThumbnailContainer {
        position: relative;
        height: var(--spacing-m);
        display: flex;
        flex-direction: row;
        margin-top: var(--size-xl);
        justify-content: space-evenly;
    }
}