:root {
    color: rgba(255, 255, 255, 0.87);

    --size-xxs: .25rem;
    --size-xs: .5rem;
    --size-s: .75rem;
    --size-m: 1rem;
    --size-l: 1.25rem;
    --size-xl: 1.75rem;
    --size-xxl: 2.5rem;

    --spacing-s: 3.75rem;
    --spacing-m: 6.25rem;
    --spacing-l: 10rem;
    --spacing-xl: 15rem;
    --spacing-xxl: 20rem;
    --spacing-xxxl: 25rem;

    --color-black: #000000;
    --color-black-light: #171717;
    --color-grey: #7c7c7c;
    --color-grey-dark: #5f5f5f;
    --color-grey-deepdark: #414141;
    --color-grey-light: #8c8c8c;
    --color-white: #ffffff;
    --color-white-dark: #cdcdcd;
    --color-primary: rgb(210, 38, 38);
    --color-primary-dark: rgb(170, 28, 28);
    --color-primary-deepdark: rgb(120, 28, 28);
    --color-primary-light: rgb(255, 28, 28);
    
    --ff: "DM Sans", sans-serif;
    --h1: bold 3.375rem / 4rem var(--ff);
    --h2: bold 2.25rem / 2.25rem var(--ff);
    --h3: bold 1.5rem / 1.875rem var(--ff);

    --duration-normal: 500ms;
    --duration-long: 700ms;

    background: var(--color-black);
    user-select: none;
}

html {
    scroll-snap-type: y mandatory;
}

.scroll-checkpoint {
    scroll-snap-align: start;
}

body {
    margin: 0;
}

section {
    margin: 0 var(--spacing-xxxl);

    @media (orientation: portrait) {
        margin: 0 50px;
    }
}

h1 {
    font: var(--h1);
    margin: 4px 0;
}

h2 {
    font: var(--h2);
    margin: 8px 0;
}

h3 {
    font: var(--h3);
    margin: 8px 0;
}

.btn {
    padding: var(--size-s) var(--size-m);
    cursor: pointer;
    user-select: none;
    border-radius: var(--size-s);
    border: 0.15rem solid var(--color-primary);
    transition-duration: var(--duration-normal);
    background: var(--color-black);
    color: var(--color-primary);
    font-size: var(--size-m);
    font-style: italic;

    &:hover {
        transform: scale(1.05);
        background: var(--color-primary);
        color: var(--color-white);
    }
}