
.feedbackContainer {
    position: relative;
    height: 68%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background: linear-gradient(90deg, var(--color-black-light) 10%, var(--color-grey-dark) 100%);
    color: var(--color-black);
    border-radius: var(--size-l);
    align-items: flex-start;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 14px 28px, rgba(0, 0, 0, 0.32) 0px 10px 10px;

    .fading {
        animation: fadeInAnimate var(--duration-normal);
    }

    @keyframes fadeInAnimate {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    .txt {
        display: flex;
        flex-direction: column;
        width: 50%;
        height: 100%;
        justify-content: center;

        .highlightContainer {
            .openQuotationMark,
            .closeQuotationMark {
                color: var(--color-primary-light);
            }
            .openQuotationMark {
                text-align: left;
            }
            .highlightContent {
                text-align: center;
                font-style: italic;
                font-weight: bold;
                color: var(--color-primary-light);
                text-wrap: auto;
            }
            .closeQuotationMark {
                text-align: right;
            }
        }
        .content {
            color: var(--color-white);
            font-size: var(--size-m);
            line-height: var(--size-xl);
        }
        .name {
            color: var(--color-white);
            margin-top: var(--size-m);
            font-size: var(--size-m);
            line-height: var(--size-xl);
            font-weight: bold;
        }
    }

    .imgContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        width: 40%;

        .img {
            position: relative;
            height: 80%;
            border-radius: var(--size-l);
            overflow: hidden;
            object-fit: cover;
            object-position: top;
        }
    }

    &.portrait {
        flex-direction: column-reverse;
        height: 80%;
        padding: var(--size-s);
        justify-content: space-between;

        .txt,
        .img {
            width: 100%;
        }

        .txt {
            height: 60%;
            margin: 0;
            justify-content: flex-start;

            .content {
                font-size: 0.7rem;
                line-height: 1.3rem;
            }
            .name {
                font-size: var(--size-s);
                margin-top: var(--size-xs);
            }
        }

        
        .imgContainer {
            flex-direction: column;
            justify-content: center;
            height: 40%;
            width: 100%;

            .img {
                height: 100%;
                margin: 0;
            }
        }
    }
}