
.feedbackContainer {
    position: relative;
    height: 65%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background: linear-gradient(90deg, var(--color-black-light) 10%, var(--color-grey-dark) 100%);
    color: var(--color-black);
    border-radius: var(--size-l);
    align-items: flex-start;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 14px 28px, rgba(0, 0, 0, 0.32) 0px 10px 10px;

    .fading {
        animation: fadeInAnimate var(--duration-normal);
    }

    @keyframes fadeInAnimate {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    .txt {
        width: 50%;
        margin: 5% 0;
        .highlightContainer {
            .openQuotationMark,
            .closeQuotationMark {
                color: var(--color-primary-light);
            }
            .openQuotationMark {
                text-align: left;
            }
            .highlightContent {
                text-align: center;
                font-style: italic;
                font-weight: bold;
                color: var(--color-primary-light);
                text-wrap: nowrap;
            }
            .closeQuotationMark {
                text-align: right;
            }
        }
        .content {
            color: var(--color-primary);
            font-size: var(--size-m);
            line-height: var(--size-xl);
        }
        .name {
            color: var(--color-primary-light);
            margin-top: var(--size-m);
            font-size: var(--size-m);
            line-height: var(--size-xl);
            font-weight: bold;
        }
    }

    .img {
        position: relative;
        height: 80%;
        width: 40%;
        border-radius: var(--size-l);
        overflow: hidden;
        object-fit: cover;
        object-position: top;
        margin: 5% 0;
    }

    &.portrait {
        flex-direction: column-reverse;
        height: 80%;
        padding: var(--size-s);

        .txt,
        .img {
            width: 100%;
        }

        .txt {
            height: 60%;
            margin: 0;
            .content {
                font-size: var(--size-s);
            }
            .name {
                margin-top: var(--size-xs);
            }
        }

        .img {
            height: 35%;
            margin: 0;
        }
    }
}